<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CMS Article</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
    <link th:href="@{/styles/banner.css}" rel="stylesheet" />
    <!--	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>-->
    <!--	<link rel="stylesheet" th:href="@{/css/error.css}" href="../../css/error.css"/>-->
    <!--	<link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css"/>-->
</head>
<body>
<div th:replace="header/navheader::navapalah"></div>
<!--	<div class="container">-->
<div class="container my-2">
    <h1>Article</h1>
    <hr>
    <h2>Save Article</h2>


    <form action="#" th:action="@{/api/saveArticle}" th:object="${article}"
          method="POST">

        <div class="form-group">
            <label for="titleArticle">Title Article</label>
            <input type="text" th:field="*{titleArticle}"
                   placeholder="Title Article" class="form-control" id="titleArticle">
        </div>

        <div class="form-group">
            <label for="content">Content Article</label>
            <textarea id="content"  name="content" th:field="*{bodyArticle}"
                      placeholder="Content Article"
                      class="form-control"
                      rows="5"></textarea>
        </div>

        <div class="form-group">
<!--            <label for="category">Category</label>-->
            <select th:field="*{idCategoryArticle}" id="category" class="form-control">
                <option value="">-- Select Category --</option>
<!--                <option th:each="category : ${categories}"-->
<!--                        th:value="${category.idCategoryArticle}"-->
<!--                        th:text="${category.nameCategoryArticle}"-->
<!--                        th:selected="${category.idCategoryArticle == article.idCategoryArticle}">-->
<!--                </option>-->
<!--                <option th:value="1">1</option>-->
                <option th:each="category : ${categories}"
                        th:value="${category.idCategoryArticle}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <input type="file" name="thumbnail" id="thumbnail" accept="image/*" class="form-control-file">
        </div>

        <button type="submit" class="btn btn-info"> Save Article</button>
    </form>
</div>
</body>
</html>