<form th:action="@{/api/usrmgmnt/v1/article/edit/{id} (id=${article.idArticle})}"
      th:object="${article}" method="POST" id="ubahArticle" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"><!--	ID FORM TIDAK BOLEH SAMA DENGAN ID MODALS DI FRAGMENT -->
  <input type="hidden" value="6e13fc166d54411be233d08296755631" /><!-- form generate id security of front end -->
  <div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
    <p th:each="err : ${#fields.errors('global')}" th:text="${err}"  class="error"/>
  </div>
  <div class ="form-group">
    <label> Nama Article </label>
    <input
            type = "text"
            name = "namaArticle"
            th:field = "*{namaArticle}"
            class = "form-control"
            placeholder="Masukkan Nama Article"
    />
    <ul>
      <li th:each="err : ${#fields.errors('namaArticle')}" th:text="${err}" class="error" />
    </ul>
  </div>


  <div class = "modal-footer">
    <button type="submit" class = "btn btn-primary">
      Submit
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</form>

<script th:inline="javascript">
/*<![CDATA[*/
    $("#ubahArticle").submit(function(event) {
          event.preventDefault(); //prevent default action
          let post_url = $(this).attr("action"); //get form action url
          let request_method = $(this).attr("method"); //get form GET/POST method
          let form_data = $(this).serialize(); //Encode form elements for submission
          $.ajax({
              url: post_url,
              type: request_method,
              data: form_data
            }).done(function(response) { //
            let pattern = /6e13fc166d54411be233d08296755631/i;
			let result = response.match(pattern);
            if(result)
            {
				$("#server-results").html(response);
            }
            else
            {
				$('#editArticle').modal('hide');
				confirm("DATA BERHASIL DIUBAH");
            }

            });
        });

/*]]>*/
</script>