<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="js" th:remove="tag">
  <!-- JavaScript Libraries -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/lib/superfish/superfish.min.js}"></script>
  <script th:src="@{/lib/wow/wow.min.js}"></script>
  <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
  <script th:src="@{/lib/counterup/counterup.min.js}"></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
  <script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
  <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
  <script th:src="@{/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>;